body {
    background: #ffffff;
    color: #000;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

header {
    background: #e9e9e9;
    color: #181818;
    padding: 20px 5%;
}

header h1 {
    font-size: 30px;
    display: inline;
    margin: 0;
}

nav ul {
    color: #0c0c0c;
    display: inline;
    margin: 0;
}

nav ul li {
    display: inline-block;
    padding: 5px;
}

nav ul li a {
    color: #686868;
    text-decoration: none;
}

nav ul li a:hover {
    color: #161616;
}

h2 {
    font-size: 375%;
    margin: 0;
    padding: 50px 0 15px 0;
}

div.inf {
    padding: 0 5%;
}

div.intro {
    padding: 0 20%;
}

footer {
    font-family: Arial;
    font-size: x-small;
    clear: both;
    color: #727270;
    margin: 50px 0 0 0;
    padding: 50px 5% 15px 5%;
}

