body {
    background: #101010;
    color: #ffffff;
    font-family: Tahoma, sans-serif;
}

/*
    nav config
*/

.nav {
    display: block;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 120px;
    overflow: hidden;
    white-space: nowrap;
}

.nav img {
    float: left;
    padding-left: 15px;
    padding-right: 50px;
}

.nav a {
    color: #ffffff;
    display: block;
    float: left;
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-right: 40px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #979797;
    text-decoration-thickness: 3px;
}

.nav a#active {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: #ffde27;
    text-decoration-thickness: 3px;
}

.right-nav {
    float: right;
}

.right-nav a#GitHub {
    display: block;
    height: 30px;
    width: 30px;
    padding: 0;
    transform: translateX(-50px);
}

.right-nav a#LinkedIn {
    display: block;
    height: 30;
    width: 35.2777777778px;
    padding: 0;
    transform: translateX(-10px);
}

.right-nav a img {
    height: 100%;
    width: 100%;
    padding: 0;
    transform: translateX(-15%);
}

/*
    home page layout
*/

#homepage {
    display: block;
    left: 0px;
    width: 100%;
}

#homepage img {
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#homepage h1, #homepage h2 {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    font-size: 350%;
    margin: auto;
}

#homepage h2 {
    color: #777777;
    font-size: 242%;
    margin-bottom: 15vh;
}